root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[.babelrc]
indent_size = 2

[*{.yml,.yaml,.css,.js,.json,.jsx}]
indent_size = 2
