# Node.js
#
/node_modules
npm-debug.log
yarn-error.log

# Composer
#
/vendor
composer.phar

# IntelliJ/PhpStorm
#
/.idea

# Visual Studio Code
#
/.vscode

# Laravel Shopper
#
phpunit.xml
.phpunit.result.cache

# OSX
#
.DS_Store
Thumbs.db
