parameters:
	ignoreErrors:
		-
			message: '#^Method Shopper\\Livewire\\Components\\Account\\Devices\:\:sessions\(\) should return Illuminate\\Support\\Collection\<int, object\> but returns Illuminate\\Support\\Collection\<int, object\{agent\: Jenssegers\\Agent\\Agent, ip_address\: mixed, is_current_device\: bool, last_active\: string, location\: bool\|Stevebauman\\Location\\Position\}&stdClass\>\.$#'
			identifier: return.type
			count: 1
			path: packages/admin/src/Livewire/Components/Account/Devices.php

		-
			message: '#^Method Shopper\\Livewire\\Components\\Modal\:\:getPublicPropertyTypes\(\) should return Illuminate\\Support\\Collection\<string, string\|null\> but returns Illuminate\\Support\\Collection\<\(int\|string\), non\-falsy\-string\>\.$#'
			identifier: return.type
			count: 1
			path: packages/admin/src/Livewire/Components/Modal.php

		-
			message: '#^Parameter \#1 \$model of method Filament\\Forms\\ComponentContainer\:\:model\(\) expects Illuminate\\Database\\Eloquent\\Model\|string\|null, Shopper\\Core\\Models\\Contracts\\Product given\.$#'
			identifier: argument.type
			count: 2
			path: packages/admin/src/Livewire/Components/Products/Form/Edit.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: packages/admin/src/Livewire/Components/Settings/Team/UsersRole.php

		-
			message: '#^Method Shopper\\Livewire\\Components\\SlideOverPanel\:\:getPublicPropertyTypes\(\) should return Illuminate\\Support\\Collection\<string, string\|null\> but returns Illuminate\\Support\\Collection\<\(int\|string\), non\-falsy\-string\>\.$#'
			identifier: return.type
			count: 1
			path: packages/admin/src/Livewire/Components/SlideOverPanel.php

		-
			message: '#^Called ''except'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: packages/admin/src/Livewire/Modals/CollectionProductsList.php

		-
			message: '#^Method Shopper\\Livewire\\Modals\\CollectionProductsList\:\:products\(\) should return Illuminate\\Support\\Collection\<int, Shopper\\Core\\Models\\Contracts\\Product\> but returns Illuminate\\Database\\Eloquent\\Collection\<int, Shopper\\Core\\Models\\Product\>\.$#'
			identifier: return.type
			count: 1
			path: packages/admin/src/Livewire/Modals/CollectionProductsList.php

		-
			message: '#^PHPDoc tag @var for variable \$user contains unknown class Shopper\\Livewire\\Modals\\User\.$#'
			identifier: class.notFound
			count: 1
			path: packages/admin/src/Livewire/Modals/ConfirmPassword.php

		-
			message: '#^Parameter \#2 \$user of callable Shopper\\Actions\\Auth\\ConfirmPassword expects Shopper\\Core\\Models\\Contracts\\ShopperUser, Shopper\\Livewire\\Modals\\User given\.$#'
			identifier: argument.type
			count: 1
			path: packages/admin/src/Livewire/Modals/ConfirmPassword.php

		-
			message: '#^Called ''except'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: packages/admin/src/Livewire/Modals/RelatedProductsList.php

		-
			message: '#^Method Shopper\\Livewire\\Modals\\RelatedProductsList\:\:products\(\) should return Illuminate\\Database\\Eloquent\\Collection\<int, Shopper\\Core\\Models\\Contracts\\Product\> but returns Illuminate\\Database\\Eloquent\\Collection\<int, Shopper\\Core\\Models\\Product\>\.$#'
			identifier: return.type
			count: 1
			path: packages/admin/src/Livewire/Modals/RelatedProductsList.php

		-
			message: '#^Type Shopper\\Core\\Models\\Contracts\\Product in generic type Illuminate\\Database\\Eloquent\\Collection\<int, Shopper\\Core\\Models\\Contracts\\Product\> in PHPDoc tag @property\-read for property Shopper\\Livewire\\Modals\\RelatedProductsList\:\:\$products is not subtype of template type TModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Collection\.$#'
			identifier: generics.notSubtype
			count: 1
			path: packages/admin/src/Livewire/Modals/RelatedProductsList.php

		-
			message: '#^Type Shopper\\Core\\Models\\Contracts\\Product in generic type Illuminate\\Database\\Eloquent\\Collection\<int, Shopper\\Core\\Models\\Contracts\\Product\> in PHPDoc tag @return is not subtype of template type TModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Collection\.$#'
			identifier: generics.notSubtype
			count: 1
			path: packages/admin/src/Livewire/Modals/RelatedProductsList.php

		-
			message: '#^Method Shopper\\Livewire\\Pages\\Auth\\ForgotPassword\:\:broker\(\) should return Illuminate\\Auth\\Passwords\\PasswordBroker but returns Illuminate\\Contracts\\Auth\\PasswordBroker\.$#'
			identifier: return.type
			count: 1
			path: packages/admin/src/Livewire/Pages/Auth/ForgotPassword.php

		-
			message: '#^Method Shopper\\Livewire\\Pages\\Auth\\ResetPassword\:\:broker\(\) should return Illuminate\\Auth\\Passwords\\PasswordBroker but returns Illuminate\\Contracts\\Auth\\PasswordBroker\.$#'
			identifier: return.type
			count: 1
			path: packages/admin/src/Livewire/Pages/Auth/ResetPassword.php

		-
			message: '#^Parameter \#1 \$model of method Filament\\Forms\\ComponentContainer\:\:model\(\) expects Illuminate\\Database\\Eloquent\\Model\|string\|null, Shopper\\Core\\Models\\Contracts\\Collection\|null given\.$#'
			identifier: argument.type
			count: 1
			path: packages/admin/src/Livewire/Pages/Collection/Edit.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Database\\Eloquent\\Model&Shopper\\Core\\Models\\Contracts\\Product\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: packages/admin/src/Livewire/Pages/Product/Edit.php

		-
			message: '#^Parameter \#1 \$record of method Filament\\Actions\\Action\:\:record\(\) expects Closure\|Illuminate\\Database\\Eloquent\\Model\|null, Shopper\\Core\\Models\\Contracts\\ProductVariant\|null given\.$#'
			identifier: argument.type
			count: 2
			path: packages/admin/src/Livewire/Pages/Product/Variant.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email_verified_at\.$#'
			identifier: property.notFound
			count: 2
			path: packages/admin/src/Livewire/Pages/Settings/Team/Index.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: packages/admin/src/Livewire/Pages/Settings/Team/Index.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Database\\Eloquent\\Model is not subtype of native type Shopper\\Core\\Models\\Contracts\\ShopperUser\.$#'
			identifier: varTag.nativeType
			count: 2
			path: packages/admin/src/Livewire/Pages/Settings/Team/Index.php

		-
			message: '#^Parameter \#1 \$model of method Filament\\Forms\\ComponentContainer\:\:model\(\) expects Illuminate\\Database\\Eloquent\\Model\|string\|null, Shopper\\Core\\Models\\Contracts\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/AddCollectionForm.php

		-
			message: '#^Parameter \#1 \$model of method Filament\\Forms\\ComponentContainer\:\:model\(\) expects Illuminate\\Database\\Eloquent\\Model\|string\|null, Shopper\\Core\\Models\\Contracts\\ProductVariant given\.$#'
			identifier: argument.type
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/AddVariant.php

		-
			message: '#^Type mixed in generic type Illuminate\\Database\\Eloquent\\Collection\<string, mixed\> in PHPDoc tag @property\-read for property Shopper\\Livewire\\SlideOvers\\AddVariant\:\:\$options is not subtype of template type TModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Collection\.$#'
			identifier: generics.notSubtype
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/AddVariant.php

		-
			message: '#^Call to function abort_unless\(\) with true and 403 will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/AttributeForm.php

		-
			message: '#^Left side of \|\| is always true\.$#'
			identifier: booleanOr.leftAlwaysTrue
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/AttributeForm.php

		-
			message: '#^Right side of \|\| is always true\.$#'
			identifier: booleanOr.rightAlwaysTrue
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/AttributeForm.php

		-
			message: '#^Parameter \#1 \$model of method Filament\\Forms\\ComponentContainer\:\:model\(\) expects Illuminate\\Database\\Eloquent\\Model\|string\|null, Shopper\\Core\\Models\\Contracts\\Brand given\.$#'
			identifier: argument.type
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/BrandForm.php

		-
			message: '#^Parameter \#1 \$model of method Filament\\Forms\\ComponentContainer\:\:model\(\) expects Illuminate\\Database\\Eloquent\\Model\|string\|null, Shopper\\Core\\Models\\Contracts\\Category given\.$#'
			identifier: argument.type
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/CategoryForm.php

		-
			message: '#^Parameter \#1 \$model of method Filament\\Forms\\ComponentContainer\:\:model\(\) expects Illuminate\\Database\\Eloquent\\Model\|string\|null, Shopper\\Core\\Models\\Contracts\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/CollectionRules.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$full_name\.$#'
			identifier: property.notFound
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/CreateTeamMember.php

		-
			message: '#^Call to function abort_unless\(\) with true and 403 will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/DiscountForm.php

		-
			message: '#^Left side of \|\| is always true\.$#'
			identifier: booleanOr.leftAlwaysTrue
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/DiscountForm.php

		-
			message: '#^Right side of \|\| is always true\.$#'
			identifier: booleanOr.rightAlwaysTrue
			count: 1
			path: packages/admin/src/Livewire/SlideOvers/DiscountForm.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: packages/admin/src/Notifications/CustomerSendCredentials.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$full_name\.$#'
			identifier: property.notFound
			count: 1
			path: packages/admin/src/Notifications/CustomerSendCredentials.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Database\\Eloquent\\Model is not subtype of native type Shopper\\Core\\Models\\Contracts\\ShopperUser\.$#'
			identifier: varTag.nativeType
			count: 1
			path: packages/admin/src/Notifications/CustomerSendCredentials.php

		-
			message: '#^Type \$this\(Shopper\\Core\\Models\\Contracts\\ShopperUser\) in generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<Shopper\\Core\\Models\\Address, \$this\(Shopper\\Core\\Models\\Contracts\\ShopperUser\)\> in PHPDoc tag @return is not subtype of template type TDeclaringModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\.$#'
			identifier: generics.notSubtype
			count: 1
			path: packages/core/src/Models/Contracts/ShopperUser.php

		-
			message: '#^Type \$this\(Shopper\\Core\\Models\\Contracts\\ShopperUser\) in generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<Shopper\\Core\\Models\\Order, \$this\(Shopper\\Core\\Models\\Contracts\\ShopperUser\)\> in PHPDoc tag @return is not subtype of template type TDeclaringModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\.$#'
			identifier: generics.notSubtype
			count: 1
			path: packages/core/src/Models/Contracts/ShopperUser.php

		-
			message: '#^Type static\(Shopper\\Core\\Models\\Contracts\\ShopperUser\) in generic type Illuminate\\Database\\Eloquent\\Builder\<static\(Shopper\\Core\\Models\\Contracts\\ShopperUser\)\> in PHPDoc tag @param for parameter \$query is not subtype of template type TModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Builder\.$#'
			identifier: generics.notSubtype
			count: 2
			path: packages/core/src/Models/Contracts/ShopperUser.php

		-
			message: '#^Type static\(Shopper\\Core\\Models\\Contracts\\ShopperUser\) in generic type Illuminate\\Database\\Eloquent\\Builder\<static\(Shopper\\Core\\Models\\Contracts\\ShopperUser\)\> in PHPDoc tag @return is not subtype of template type TModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Builder\.$#'
			identifier: generics.notSubtype
			count: 2
			path: packages/core/src/Models/Contracts/ShopperUser.php

		-
			message: '#^Type \$this\(Shopper\\Core\\Models\\Contracts\\Stockable\) in generic type Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\InventoryHistory, \$this\(Shopper\\Core\\Models\\Contracts\\Stockable\)\> in PHPDoc tag @return is not subtype of template type TDeclaringModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Relations\\MorphMany\.$#'
			identifier: generics.notSubtype
			count: 1
			path: packages/core/src/Models/Contracts/Stockable.php

		-
			message: '#^Called ''first'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: packages/core/src/Models/Product.php

		-
			message: '#^Method Shopper\\Core\\Models\\Product\:\:prices\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\Price, static\(Shopper\\Core\\Models\\Product\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\Price, \$this\(Shopper\\Core\\Models\\Product\)\>\.$#'
			identifier: return.type
			count: 1
			path: packages/core/src/Models/Product.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\Price, static\(Shopper\\Core\\Models\\Product\)\>\) of method Shopper\\Core\\Models\\Product\:\:prices\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\Price, Shopper\\Core\\Models\\Product\>\) of method Shopper\\Core\\Contracts\\Priceable\<Shopper\\Core\\Models\\Product\>\:\:prices\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: packages/core/src/Models/Product.php

		-
			message: '#^Method Shopper\\Core\\Models\\ProductVariant\:\:prices\(\) should return Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\Price, static\(Shopper\\Core\\Models\\ProductVariant\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\Price, \$this\(Shopper\\Core\\Models\\ProductVariant\)\>\.$#'
			identifier: return.type
			count: 1
			path: packages/core/src/Models/ProductVariant.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\Price, static\(Shopper\\Core\\Models\\ProductVariant\)\>\) of method Shopper\\Core\\Models\\ProductVariant\:\:prices\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Shopper\\Core\\Models\\Price, Shopper\\Core\\Models\\ProductVariant\>\) of method Shopper\\Core\\Contracts\\Priceable\<Shopper\\Core\\Models\\ProductVariant\>\:\:prices\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: packages/core/src/Models/ProductVariant.php

		-
			message: '#^Trait Shopper\\Core\\Models\\Traits\\HasProfilePhoto is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: packages/core/src/Models/Traits/HasProfilePhoto.php

		-
			message: '#^Trait Shopper\\Core\\Traits\\ShopperUser is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: packages/core/src/Traits/ShopperUser.php
