includes:
    - phpstan-baseline.neon

parameters:
    level: 7

    paths:
        - packages

    excludePaths:
        - packages/admin/src/Livewire/Pages/Auth
        - packages/admin/src/Events/
        - packages/core/src/Repositories/
        - packages/sidebar

    ignoreErrors:
        - message: '#Method.*getLabel\(\) should return string but returns array\|string\|null#'
        - message: '#Call to an undefined method Spatie\\Image\\Drivers\\ImageDriver::keepOriginalImageFormat\(\)#'

    reportUnmatchedIgnoredErrors: false
