includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - packages
    excludePaths:
        - packages/admin/src/Livewire/Pages/Auth
        - packages/admin/src/Events/
        - packages/core/src/Traits/
    ignoreErrors:
    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: false
