html {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --livewire-progress-bar-color: var(--primary-500) !important;
  --modal-padding: 0.75rem;
}

:root.dark {
  color-scheme: dark;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  @apply size-1;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-300;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

.dark *::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

.dark *::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-900;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

[x-cloak] {
  display: none !important;
}

.primary-menu .active {
  @apply bg-primary-900;
}
.primary-menu .active:hover,
.primary-menu .active:focus {
  @apply bg-primary-900;
}

.ui-modal > div > div.fixed {
  @apply z-50 backdrop-blur-sm transition-opacity;
}

.shopper-product-wizard > div {
  @apply h-full flex-1;
}

.sh-dropdown-width {
  @apply max-w-58;
}
