input {
  width: 100%;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

[x-cloak] {
  display: none !important;
}

.primary-menu .active {
  background-color: theme('colors.primary.900');
}
.primary-menu .active:hover,
.primary-menu .active:focus {
  background-color: theme('colors.primary.900');
}

.scrolling::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrolling::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.200');
  border-radius: 8px;
}

.scrolling::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.gray.300');
}

.dark .scrolling::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.700');
}

.dark .scrolling::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.gray.900');
}

.ui-modal > div > div.fixed {
  @apply z-50 backdrop-blur-sm transition-opacity;
}
