@import '~choices.js/public/assets/styles/choices.css';
@import '~tom-select/dist/css/tom-select.default.min.css';
@import '~flatpickr/dist/themes/light.css';
@import '~intl-tel-input/build/css/intlTelInput.css';
@import '~filepond/dist/filepond.min.css';
@import '~trix/dist/trix.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'base.css';
@import 'components/select.css';
@import 'components/sidebar.css';
@import 'components/trix-editor.css';

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  :root.dark {
    color-scheme: dark;
  }

  [dir='rtl'] select {
    background-position: left 0.5rem center !important;
    padding-left: 2.5rem;
    padding-right: 0.75rem;
  }
}
