//
// Global Mixins
//

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin button-reset() {
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: none;
  outline: none !important;
  margin: 0;
  padding: 0;
}

@mixin input-reset() {
  border: 0;
  background: none;
  outline: none !important;
  box-shadow: none;
}

@mixin btn-reset() {
  border: 0;
  background: none;
  outline: none !important;
  box-shadow: none;
  outline: none !important;
}

@mixin fix-fixed-position-lags() {
  // webkit hack for smooth font view on fixed positioned elements
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

@mixin fix-animation-lags() {
  transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
}

@mixin attr($attr, $value, $important: '') {
  @if  $value != null  {
    #{$attr}: #{$value} #{$important};
  }
}

@mixin hack-ie {
  @media screen\0 {
    @content;
  }
}

@mixin hack-edge-all {
  @supports (-ms-ime-align:auto) {
    @content;
  }
}

@mixin rounded {
  @if $rounded == true {
    @content;
  }
}

@mixin not-rounded {
  @if $rounded == false {
    @content;
  }
}

// Input placeholder color
@mixin input-placeholder($color) {
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  // See https://github.com/twbs/bootstrap/pull/11526
  &:-ms-input-placeholder {
    color: $color;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $color;
  }
  // Safari and Chrome
}

@mixin hover-transition {
  transition: $transition;

  &:hover {
    transition: $transition;
  }
}

@mixin transition {
  transition: $transition;
}

// Icon Sizing
// SASS Map:  (lineawesome: 1.1rem, fontawesome: 1.2rem, flaticon: 1.1rem)
@mixin icons-size($config) {
  // Lineawesome
  [class^="la-"],
  [class*=" la-"] {
    font-size: get($config, lineawesome);
  }

  // Fontawesome
  [class^="fa-"],
  [class*=" fa-"] {
    font-size: get($config, fontawesome);
  }

  // Flaticon
  [class^="flaticon-"],
  [class*=" flaticon-"],
  [class^="flaticon2-"],
  [class*=" flaticon2-"] {
    font-size: get($config, flaticon);
  }
}

// Icon attr
// SASS Map:  (lineawesome: 1.1rem, fontawesome: 1.2rem, flaticon: 1.1rem)
@mixin icons-style($attr, $config) {
  // lineawesome
  [class^="la-"],
  [class*=" la-"] {
    #{$attr}: get($config, lineawesome);
  }

  // Fontawesome
  [class^="fa-"],
  [class*=" fa-"] {
    #{$attr}: get($config, fontawesome);
  }

  // Flaticon
  [class^="flaticon-"],
  [class*=" flaticon-"],
  [class^="flaticon2-"],
  [class*=" flaticon2-"] {
    #{$attr}: get($config, flaticon);
  }
}

// SASS Map:  (lineawesome: 1.1rem, fontawesome: 1.2rem, flaticon: 1.1rem)
@mixin icons {
  [class^="la-"],
  [class*=" la-"],
  [class^="fa-"],
  [class*=" fa-"],
  [class^="flaticon-"],
  [class*=" flaticon-"],
  [class^="flaticon2-"],
  [class*=" flaticon2-"] {
    @content;
  }
}

// Lineawesome icon
@mixin la-icon($icon) {
  font-family: "LineAwesome";
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  &:before {
    content: "#{$icon}";
  }
}

@mixin la-icon-change($icon) {
  &:before {
    content: "#{$icon}";
  }
}

@mixin flaticon2-icon($icon) {
  font-family: Flaticon2;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "#{$icon}";
}

// Lineawesome icon
@mixin la-icon-self($icon) {
  font-family: "LineAwesome";
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "#{$icon}";
}

// Close icon
@mixin close-icon($self:null) {
  @if $self == true {
    @include la-icon-self( get($action-icons, close) );
  } @else {
    @include la-icon( get($action-icons, close) );
  }
}

// Arrow icon
@mixin arrow-icon($dir, $self:null) {
  @if $dir == down {
    @if $self == true {
      @include la-icon-self( get($action-icons, down) );
    } @else {
      @include la-icon( get($action-icons, down) );
    }
  }

  @if $dir == up {
    @if $self == true {
      @include la-icon-self( get($action-icons, up) );
    } @else {
      @include la-icon( get($action-icons, up) );
    }
  }

  @if $dir == left {
    @if $self == true {
      @include la-icon-self( get($action-icons, left) );
    } @else {
      @include la-icon( get($action-icons, left) );
    }
  }

  @if $dir == right {
    @if $self == true {
      @include la-icon-self( get($action-icons, right) );
    } @else {
      @include la-icon( get($action-icons, right) );
    }
  }
}

// Svg icon color
@mixin svg-icon-color($color) {
  g {
    [fill] {
      transition: fill 0.3s ease;
      fill: $color;
    }
  }

  &:hover {
    g {
      [fill] {
        transition: fill 0.3s ease;
      }
    }
  }
}

// Breakpoint mixins
// Layout Breakpoints
// Define the minimum and maximum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries.

@mixin media-below($width) {
  @media (max-width: #{media-breakpoint($width)}) {
    @content;
  }
}

@mixin media-above($width) {
  @media (min-width: #{media-breakpoint($width) + 1px}) {
    @content;
  }
}

@mixin media-range($from, $to) {
  @media (min-width: #{media-breakpoint($from) + 1px}) and (max-width: #{media-breakpoint($to)}) {
    @content;
  }
}

@mixin minimal-desktop {
  @media (min-width: #{media-breakpoint(lg) + 1px}) and (max-width: #{media-breakpoint(xl)}) {
    @content;
  }
}

@mixin minimal-desktop-and-below {
  @media (max-width: #{media-breakpoint(xl)}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{media-breakpoint(lg) + 1px}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{media-breakpoint(xl) + 1px}) {
    @content;
  }
}

@mixin desktop-xxl {
  @media (min-width: #{media-breakpoint(xxl) + 1px}) {
    @content;
  }
}

@mixin desktop-and-tablet {
  @media (min-width: #{media-breakpoint(md) + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{media-breakpoint(md) + 1px}) and (max-width: #{media-breakpoint(lg)}) {
    @content;
  }
}

@mixin tablet-and-mobile {
  @media (max-width: #{media-breakpoint(lg)}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{media-breakpoint(md)}) {
    @content;
  }
}

@mixin mobile-sm {
  @media (max-width: #{media-breakpoint(sm)}) {
    @content;
  }
}

@mixin responsive-below($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin responsive-above($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin responsive-range($from, $to) {
  @media (min-width: #{$from}) and (max-width: #{$to}) {
    @content;
  }
}
