.select2-selection--multiple {
  box-sizing: border-box;

  cursor: pointer;
  display: block;

  user-select: none;
  -webkit-user-select: none;

  .select2-selection__rendered {
    overflow: hidden;
  }
}

.select2-search--inline {
  float: left;

  .select2-search__field {
    border: none;
    padding: 0;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}
