input,
select,
textarea,
button,
div,
a {
  &:focus,
  &:active {
    outline: none;
  }
}

input {
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

[x-cloak] {
  display: none;
}
