/* Forms */
input {
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

/* All custom class */
.hide-scroll::-webkit-scrollbar { display: none; }

[x-cloak] {display: none !important; }

.primary-menu .active { background-color: theme('colors.primary.900'); }
.primary-menu .active:hover, .primary-menu .active:focus { background-color: theme('colors.primary.900'); }

.welcome span {
  @apply font-medium bg-clip-text text-transparent bg-gradient-to-r from-primary-400 to-primary-800;
}

.welcome-description span {
  @apply text-secondary-600 dark:text-white font-medium;
}

/* Dark Mode */
.dark trix-toolbar .trix-button-group {
  @apply border-secondary-700
}

.dark trix-toolbar .trix-button:not(:first-child) {
  @apply border-secondary-700
}

.dark trix-toolbar .trix-button {
  @apply text-secondary-400 border-secondary-700
}
