.iti {
  display: block;
}

.iti__selected-flag {
  padding: 0 10px;
}

/** Choices.js **/
.choices__input.choices__input--cloned {
  @apply hidden;
}

.choices__inner {
  @apply rounded-md shadow-sm border border-secondary-300 dark:border-secondary-700 w-full bg-white dark:bg-secondary-700 h-[38px] p-2 flex items-center !important;
}

.choices__list--dropdown {
  @apply border border-secondary-300 dark:border-secondary-700 !important;
}

.choices__list--single {
  @apply p-0 !important;
}

.choices__item {
  @apply text-sm bg-secondary-200 dark:bg-secondary-700 text-secondary-700 dark:text-secondary-300 cursor-pointer rounded px-2 py-1 my-0 border-0 !important;
}

.choices__item.choices__item--choice {
  @apply rounded-md py-2 !important;
}

.choices__item.choices__item--choice.choices__item--selectable {
  @apply bg-white dark:bg-secondary-700 rounded-none text-secondary-700 dark:text-secondary-300 p-2 mb-0 !important;
}

.choices__item.choices__item--choice.choices__item--selectable:hover {
  @apply bg-secondary-200 dark:bg-secondary-600 !important;
}

.choices__item.choices__item--selectable {
  @apply bg-primary-500 border-primary-500 text-white mb-1 !important;
}

.choices__list--single > .choices__item.choices__item--selectable {
  @apply bg-white dark:bg-secondary-700 text-secondary-700 dark:text-secondary-300 mb-0 !important;
}

.choices__item.is-highlighted {
  @apply bg-primary-600 border-primary-600 text-white !important;
}

.choices[data-type*='select-one']:after {
  border-color: theme('colors.gray.500') transparent transparent transparent !important;
}

.choices[data-type*='select-one'] .choices__input {
  @apply rounded-none border-b-2 bg-white border-secondary-300 dark:bg-secondary-800 dark:border-secondary-700 !important;
}

.choices__item.choices__item--choice.is-selected.choices__item--selectable.is-highlighted,
.choices__item.choices__item--choice.is-selected.choices__item--selectable {
    @apply bg-primary-600 border-primary-600 text-white !important;
}
