.iti {
  display: block;
}

.iti__selected-flag {
  padding: 0 10px;
}

/** Choices.js **/
.choices__input.choices__input--cloned {
  @apply hidden;
}

.choices__inner {
  @apply rounded-md shadow-sm border border-secondary-300 dark:border-secondary-700 w-full bg-white dark:bg-secondary-700 h-[38px] p-2 flex items-center !important;
}

.choices__list--dropdown {
  @apply border border-secondary-300 dark:border-secondary-700 !important;
}

.choices__list--single {
  @apply p-0 !important;
}

.choices__item {
  @apply text-sm bg-secondary-200 dark:bg-secondary-700 text-secondary-700 dark:text-secondary-300 cursor-pointer rounded px-2 py-1 my-0 border-0 !important;
}

.choices__item.choices__item--choice {
  @apply rounded-md py-2 !important;
}

.choices__item.choices__item--choice.choices__item--selectable {
  @apply bg-white dark:bg-secondary-700 rounded-none text-secondary-700 dark:text-secondary-300 p-2 mb-0 !important;
}

.choices__item.choices__item--choice.choices__item--selectable:hover {
  @apply bg-secondary-200 dark:bg-secondary-600 !important;
}

.choices__item.choices__item--selectable {
  @apply bg-primary-500 border-primary-500 text-white mb-1 !important;
}

.choices__list--single > .choices__item.choices__item--selectable {
  @apply bg-white dark:bg-secondary-700 text-secondary-700 dark:text-secondary-300 mb-0 !important;
}

.choices__item.is-highlighted {
  @apply bg-primary-600 border-primary-600 text-white !important;
}

.choices[data-type*='select-one']:after {
  border-color: theme('colors.secondary.500') transparent transparent transparent !important;
}

.choices[data-type*='select-one'] .choices__input {
  @apply rounded-none border-b-2 bg-white border-secondary-300 dark:text-secondary-400 dark:bg-secondary-600 dark:border-secondary-700 !important;
}

.choices__item.choices__item--choice.is-selected.choices__item--selectable.is-highlighted,
.choices__item.choices__item--choice.is-selected.choices__item--selectable {
    @apply bg-primary-600 border-primary-600 text-white !important;
}

/** TomSelect **/
.ts-control {
    @apply flex border border-secondary-300 dark:border-secondary-700 dark:text-secondary-300 bg-white dark:bg-secondary-700 rounded-md shadow-sm;
    padding: 9px 12px !important;
    z-index: 0;
}

.ts-control > input {
    @apply text-secondary-500 dark:text-secondary-400 text-sm leading-4;
}

.ts-dropdown {
    @apply my-1 text-secondary-500 dark:text-secondary-400 text-sm leading-5 bg-white dark:bg-secondary-700 border-secondary-300 dark:border-secondary-700 rounded-md shadow-sm;
}

.ts-dropdown.single {
    @apply border-secondary-300 dark:border-secondary-700 !important;
}

.ts-dropdown .active {
    @apply bg-white dark:bg-secondary-700 rounded-none text-sm leading-5 text-secondary-700 dark:text-secondary-300 p-2 mb-0 !important;
}

.ts-dropdown .option:hover {
    @apply bg-primary-600 text-white;
}

.ts-wrapper.multi .ts-control [data-value] {
    @apply bg-primary-600 shadow-none text-sm leading-5 rounded-md;
    box-shadow: none;
}
.ts-wrapper.multi .ts-control [data-value].active {
    background-color: theme('colors.primary.600');
    background-repeat: repeat-x;
}

.ts-wrapper.single .ts-control {
    @apply border-secondary-300 dark:border-secondary-700 bg-white dark:bg-secondary-600 shadow-none;
    background-image: none;
}

.dropdown-active .ts-control {
    @apply rounded-md;
}
