/**
* Shopper Tailwind Style
*
* @version 2.0.0
* @since May 2021
* @author Arthur Monney<arthur@shopperlabs.io>
* @site https://laravelshopper.io
*/
@import '~choices.js/public/assets/styles/choices.css';
@import '~flatpickr/dist/themes/light.css';
@import '~intl-tel-input/build/css/intlTelInput.css';
@import '~filepond/dist/filepond.min.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'base.css';
@import 'components.css';
