.sidebar {
  .menu-heading:first-child {
    margin-top: 0;
  }

  .menu-heading {
    margin-top: theme("margin.10");
  }
}

.primary-menu {
  .active {
    @apply bg-brand-700;
    &:hover {
      background-color: theme("colors.brand.800") !important;
    }
  }
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-spinner {
  display: inline-block;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid theme("colors.gray.50");
  border-right: 0.2em solid theme("colors.gray.50");
  border-bottom: 0.2em solid theme("colors.gray.50");
  border-left: 0.2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute !important;
}

.preview-enter {
  opacity: 0;
  transform: translateY(10px);
}
.preview-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.preview-exit {
  opacity: 1;
}
.preview-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}

.size-radio:checked + label {
  @apply border-blue-300;
  .selected {
    display: block;
  }
}
