.active {
  @apply bg-primary-dark;
  &:hover {
    background-color: theme('colors.primary-dark') !important;
  }
}

.sidebar {
  .menu-heading:first-child {
    margin-top: 0;
  }

  .menu-heading {
    margin-top: theme('margin.10');
  }
}

.btn {
  @apply inline-flex justify-center w-auto transition ease-in-out duration-150 block px-4 py-2 rounded-md leading-6;
}

.btn-primary {
  @apply bg-brand-400 text-on-primary;

  &:hover {
    @apply bg-brand-100;
  }
}

.btn-white {
  @apply border border-gray-300 bg-white text-gray-700 shadow-sm;

  &:hover {
    @apply text-gray-500;
  }

  &:focus {
    @apply outline-none border-blue-300 shadow-outline;
  }
}

.btn-danger {
  @apply border border-transparent text-on-primary bg-red-600 shadow-sm;

  &:hover {
    @apply bg-red-500;
  }

  &:focus {
    @apply outline-none border-red-700 shadow-outline;
  }
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-spinner {
  display: inline-block;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid theme('colors.gray.50');
  border-right: 0.2em solid theme('colors.gray.50');
  border-bottom: 0.2em solid theme('colors.gray.50');
  border-left: 0.2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.quill-editor {
  .ql-container {
    border: 1px solid theme('colors.gray.300') !important;
    @apply rounded-b-md;
    &:focus {
      border-color: theme('colors.brand.400') !important;
    }
  }

  .ql-editor {
    min-height: 130px;
    max-height: 400px;
    font-size: theme('fontSize.base');

    &:focus {
      outline: none;
      box-shadow: theme('boxShadow.outline-brand');
      border-color: theme('colors.brand.400') !important;
      @apply rounded-b-md;
    }
  }

  .ql-toolbar {
    border: 1px solid theme('colors.gray.300') !important;
    border-bottom: none;
    background-color: theme('colors.gray.100');
    @apply rounded-t-md;
  }

  .ql-editing {
    left: 50px !important;
    @apply rounded-t-md shadow;
  }
}

.preview-enter {
  opacity: 0;
  transform: translateY(10px);
}
.preview-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.preview-exit {
  opacity: 1;
}
.preview-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}
