// 0: Include Librairies
@import "~react-quill/dist/quill.snow.css";
@import "~flatpickr/dist/flatpickr.css";
@import "~intl-tel-input/build/css/intlTelInput.css";

// Custom Librairies
@import 'components/inputnumber';
@import "components/select2/core";

// Custom style
.quill-editor {
  .ql-container {
    border: 1px solid theme('colors.gray.300') !important;
    @apply rounded-b-md;
    &:focus {
      border-color: theme('colors.brand.400') !important;
    }
  }

  .ql-editor {
    min-height: 130px;
    max-height: 400px;
    font-size: theme('fontSize.base');

    &:focus {
      outline: none;
      box-shadow: theme('boxShadow.outline-brand');
      border-color: theme('colors.brand.400') !important;
      @apply rounded-b-md;
    }
  }

  .ql-toolbar {
    border: 1px solid theme('colors.gray.300') !important;
    border-bottom: none;
    background-color: theme('colors.gray.100');
    @apply rounded-t-md;
  }

  .ql-editing {
    left: 50px !important;
    @apply rounded-t-md shadow;
  }
}

/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
  cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label {
  color: #555;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
  cursor: pointer;
  background-color: #fff !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.iti {
  display: block;
}

.iti__selected-flag {
  padding: 0 10px;
}
