.choices {
  @apply relative outline-none;
}

.choices__input.choices__input--cloned {
  @apply hidden;
}

.choices__inner {
  @apply flex h-[38px] w-full items-center rounded-md border border-secondary-300 bg-white p-2 shadow-sm dark:border-secondary-700 dark:bg-secondary-700 !important;
}

.choices__list--dropdown {
  @apply border border-secondary-300 dark:border-secondary-700 !important;
}

.choices__list--single {
  @apply p-0 !important;
}

.choices__item {
  @apply my-0 cursor-pointer rounded border-0 bg-secondary-200 px-2 py-1 text-sm text-secondary-700 dark:bg-secondary-700 dark:text-secondary-300 !important;
}

.choices__item.choices__item--choice {
  @apply rounded-md py-2 !important;
}

.choices__item.choices__item--choice.choices__item--selectable {
  @apply mb-0 rounded-none bg-white p-2 text-secondary-700 dark:bg-secondary-700 dark:text-secondary-300 !important;
}

.choices__item.choices__item--choice.choices__item--selectable:hover {
  @apply bg-secondary-200 dark:bg-secondary-600 !important;
}

.choices__item.choices__item--selectable {
  @apply mb-1 border-primary-500 bg-primary-500 text-white !important;
}

.choices__list--single > .choices__item.choices__item--selectable {
  @apply mb-0 bg-white text-secondary-700 dark:bg-secondary-700 dark:text-secondary-300 !important;
}

.choices__item.is-highlighted {
  @apply border-primary-600 bg-primary-600 text-white !important;
}

.choices[data-type*='select-one']:after {
  border-color: theme('colors.secondary.500') transparent transparent
    transparent !important;
}

.choices[data-type*='select-one'] .choices__input {
  @apply rounded-none border-b-2 border-secondary-300 bg-white dark:border-secondary-700 dark:bg-secondary-600 dark:text-secondary-400 !important;
}

.choices__item.choices__item--choice.is-selected.choices__item--selectable.is-highlighted,
.choices__item.choices__item--choice.is-selected.choices__item--selectable {
  @apply border-primary-600 bg-primary-600 text-white !important;
}

.ts-control {
  @apply flex rounded-md border border-secondary-300 bg-white shadow-sm dark:border-secondary-700 dark:bg-secondary-700 dark:text-secondary-300;
  padding: 9px 12px !important;
  z-index: 0;
}

.ts-control > input {
  @apply text-sm leading-4 text-secondary-500 dark:text-secondary-400;
}

.ts-dropdown {
  @apply my-1 rounded-md border-secondary-300 bg-white text-sm leading-5 text-secondary-500 shadow-sm dark:border-secondary-700 dark:bg-secondary-700 dark:text-secondary-400;
}

.ts-dropdown.single {
  @apply border-secondary-300 dark:border-secondary-700 !important;
}

.ts-dropdown .active {
  @apply mb-0 rounded-none bg-white p-2 text-sm leading-5 text-secondary-700 dark:bg-secondary-700 dark:text-secondary-300 !important;
}

.ts-dropdown .option:hover {
  @apply bg-primary-600 text-white;
}

.ts-wrapper.multi .ts-control [data-value] {
  @apply rounded-md bg-primary-600 text-sm leading-5 shadow-none;
  box-shadow: none;
}
.ts-wrapper.multi .ts-control [data-value].active {
  background-color: theme('colors.primary.600');
  background-repeat: repeat-x;
}

.ts-wrapper.single .ts-control {
  @apply border-secondary-300 bg-white shadow-none dark:border-secondary-700 dark:bg-secondary-600;
  background-image: none;
}

.dropdown-active .ts-control {
  @apply rounded-md;
}
