.sh-sidebar {
  * {
    @apply transition duration-150 ease-in;
  }

  @apply space-y-5;

  .sh-sidebar-group {
    @apply border-t border-transparent;

    .sh-sidebar-group-label {
      @apply flex items-center justify-between px-2 pb-4 text-sm/4 text-gray-700 dark:text-gray-300;
    }

    .sh-sidebar-group-items {
      @apply space-y-1;

      .sh-sidebar-item-icon,
      .sh-sidebar-item-icon svg {
        @apply size-5 shrink-0 fill-current;
      }

      .sh-sidebar-item-label {
        @apply flex-1 font-medium;
      }

      .sh-sidebar-item-nav {
        @apply ml-auto flex items-center justify-end gap-2;
      }

      .sh-sidebar-item {
        @apply rounded-lg text-sm;

        .sh-sidebar-item-dot {
          @apply size-2 rounded-full bg-gray-300 dark:bg-white/30;
        }

        .sh-sidebar-item-link {
          @apply flex items-center gap-3 p-2;
        }
      }

      > .sh-sidebar-item {
        &:not(.sh-sidebar-item-active) {
          @apply text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-white;

          .sh-sidebar-item-icon,
          .sh-sidebar-item-icon svg {
            @apply fill-gray-400 dark:fill-gray-500;
          }

          &:hover .sh-sidebar-item-label {
            @apply text-gray-900 dark:text-white;
          }
        }

        &:not(.sh-items-has-child).sh-sidebar-item-active {
          @apply text-primary-600 dark:text-primary-500 bg-white shadow-xs ring-1 ring-gray-200 dark:bg-white/5 dark:ring-white/10;
        }

        &.sh-items-has-child {
          > .sh-sidebar-item-link.sh-active {
            @apply text-primary-600 dark:text-primary-500 rounded-lg bg-white shadow-xs ring-1 ring-gray-200 dark:bg-white/5 dark:ring-white/10;

            .sh-sidebar-item-icon,
            .sh-sidebar-item-icon svg {
              @apply fill-primary-500;
            }
          }
        }

        .sh-submenu {
          @apply ml-5 hidden rounded-b-lg border-l border-gray-200 py-1.5 dark:border-white/20;

          .sh-sidebar-item {
            @apply rounded-none;

            .sh-sidebar-item-link {
              @apply relative py-2 pl-5;

              &::before {
                content: '';
                @apply absolute top-1/2 -left-0.75 size-4 -translate-y-1/2 transition-all duration-150;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='176 104 224 152 176 200' fill='none' stroke='%23e5e7eb' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpath d='M32,56a96,96,0,0,0,96,96h96' fill='none' stroke='%23e5e7eb' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;
              }
            }

            .sh-sidebar-item-dot {
              @apply absolute top-1/2 -left-1.5 hidden -translate-y-1/2;
            }

            &:not(.sh-sidebar-item-active) {
              @apply text-gray-500 dark:text-gray-400;

              &:hover {
                @apply text-gray-700 dark:text-gray-300;

                .sh-sidebar-item-link::before {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='176 104 224 152 176 200' fill='none' stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpath d='M32,56a96,96,0,0,0,96,96h96' fill='none' stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");
                }
              }
            }

            &.sh-sidebar-item-active {
              @apply bg-transparent text-gray-950 shadow-none ring-0 dark:text-white;
            }
          }
        }

        &.sh-sidebar-item-active .sh-submenu {
          @apply block;
        }
      }
    }
  }
}

.sh-si-collapsed .sh-sidebar {
  .sh-sidebar-group {
    @apply border-gray-200 pt-4 dark:border-white/20;

    &:first-child {
      @apply border-t-0 pt-0;
    }

    .sh-sidebar-group-items > .sh-sidebar-item .sh-submenu {
      @apply mt-1 ml-0 border-l-0;

      .sh-sidebar-item {
        .sh-sidebar-item-link {
          @apply justify-center p-3;

          &::before {
            @apply hidden;
          }
        }

        .sh-sidebar-item-dot {
          @apply relative top-auto left-auto block size-2.5 shrink-0 translate-y-0;
        }
      }
    }
  }
}

.dark .sh-sidebar .sh-submenu .sh-sidebar-item {
  .sh-sidebar-item-link::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='176 104 224 152 176 200' fill='none' stroke='%23374151' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpath d='M32,56a96,96,0,0,0,96,96h96' fill='none' stroke='%23374151' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");
  }

  &:hover .sh-sidebar-item-link::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cpolyline points='176 104 224 152 176 200' fill='none' stroke='%234b5563' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3Cpath d='M32,56a96,96,0,0,0,96,96h96' fill='none' stroke='%234b5563' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3E%3C/svg%3E");
  }
}
