.dark .trix-button {
  @apply border-secondary-600 bg-secondary-700 text-secondary-200;
}

.dark .trix-button-group {
  @apply border-secondary-600;
}

.dark trix-toolbar .trix-dialog {
  @apply border-t-2 border-secondary-900 bg-secondary-800;
  box-shadow: 0 0.3em 1em theme('colors.secondary.900');
}

.dark trix-toolbar .trix-input {
  @apply border-secondary-600 bg-secondary-700;
}

.dark trix-toolbar .trix-button:not(:first-child) {
  @apply border-l border-secondary-600;
}

trix-toolbar .trix-active {
  @apply bg-primary-600 text-white;
}

[dir='rtl'] trix-editor.prose :where(ul):not(:where([class~='not-prose'] *)),
[dir='rtl'] trix-editor.prose :where(ol):not(:where([class~='not-prose'] *)) {
  padding-right: 1.625em !important;
  padding-left: 0em !important;
}

[dir='rtl']
trix-editor.prose
:where(ul > li):not(:where([class~='not-prose'] *)),
[dir='rtl']
trix-editor.prose
:where(ol > li):not(:where([class~='not-prose'] *)) {
  padding-right: 0.375em !important;
  padding-left: 0em !important;
}
