[data-theme='midnight'] {
    /* Header */
    --theme-sh-header: var(--color-blue-950);
    --theme-sh-header-fg: var(--color-blue-50);
    --theme-sh-header-fg-muted: var(--color-slate-400);
    --theme-sh-header-hover: var(--color-blue-900);

    /* Body */
    --theme-sh-body: var(--color-slate-50);
    --theme-sh-sidebar: var(--color-slate-50);
    --theme-sh-sidebar-hover: var(--color-slate-100);
    --theme-sh-muted: var(--color-slate-100);
    --theme-sh-muted-strong: var(--color-slate-200);
    --theme-sh-border: var(--color-slate-200);
    --theme-sh-fg: var(--color-slate-900);
    --theme-sh-fg-secondary: var(--color-slate-700);
    --theme-sh-fg-muted: var(--color-slate-500);

    --theme-sh-accent: var(--color-sky-500);
    --theme-sh-accent-fg: var(--color-white);

    --primary-50: var(--color-sky-50);
    --primary-100: var(--color-sky-100);
    --primary-200: var(--color-sky-200);
    --primary-300: var(--color-sky-300);
    --primary-400: var(--color-sky-400);
    --primary-500: var(--color-sky-500);
    --primary-600: var(--color-sky-600);
    --primary-700: var(--color-sky-700);
    --primary-800: var(--color-sky-800);
    --primary-900: var(--color-sky-900);
    --primary-950: var(--color-sky-950);

    --color-primary-50: var(--color-sky-50);
    --color-primary-100: var(--color-sky-100);
    --color-primary-200: var(--color-sky-200);
    --color-primary-300: var(--color-sky-300);
    --color-primary-400: var(--color-sky-400);
    --color-primary-500: var(--color-sky-500);
    --color-primary-600: var(--color-sky-600);
    --color-primary-700: var(--color-sky-700);
    --color-primary-800: var(--color-sky-800);
    --color-primary-900: var(--color-sky-900);
    --color-primary-950: var(--color-sky-950);

    --theme-sh-card: var(--color-slate-100);
    --theme-sh-table-header: var(--color-slate-100);
    --theme-sh-skeleton: var(--color-slate-200);
}

.dark[data-theme='midnight'] {
    --theme-sh-body: var(--color-slate-950);
    --theme-sh-sidebar: var(--color-slate-950);
    --theme-sh-sidebar-hover: var(--color-slate-800);
    --theme-sh-surface: var(--color-slate-900);
    --theme-sh-muted: var(--color-slate-800);
    --theme-sh-muted-strong: var(--color-slate-700);
    --theme-sh-border: var(--color-slate-800);
    --theme-sh-fg: var(--color-slate-50);
    --theme-sh-fg-secondary: var(--color-slate-300);
    --theme-sh-fg-muted: var(--color-slate-400);

    --theme-sh-card: var(--color-slate-950);
    --theme-sh-table-header: var(--color-slate-950);
    --theme-sh-skeleton: var(--color-slate-800);
}
